body {
    font-family: Arial;
    margin: 0;
    text-align: center;
}

header {
    background-color: brown;
    color: white;
    padding: 20px;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
}

.menu, .services {
    padding: 20px;
}

footer {
    background-color: #222;
    color: white;
    padding: 10px;
}
